/* Evita scroll horizontal */
body, html {
  overflow-x: hidden;
}

.custom-background {
  background-color: #0f0f0f;
}

.name-text {
  font-family: "Viga", sans-serif;
  font-size: 45px;
  color: #F5F5F5;
  max-width: 100%;
}

.name-paragraph {
  color: #1E3A8A;
  font-family: "Viga", sans-serif;
}


/* Whole accordion item */
.accordion-item {
  background-color: #1A1A1A; 
  border: 1px solid #222; 
  border-radius: 8px;
  overflow: hidden;
}


.accordion-button {
  background-color: #111827;
  color: #1E3A8A; 
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}


.accordion-button.collapsed {
  background-color: #0F172A;
  color: #1E3A8A;
}


.accordion-body {
  background-color: #1E293B;
  color: #E5E7EB; 
  padding: 1rem 1.25rem;
  border-top: 1px solid #222; 
}


.strong-accordion {
  color: #3B82F6;
  font-weight: 600;
}


.typing {
  overflow: hidden;
  border-right: 2px solid #1E3A8A;
  white-space: nowrap;
  width: 9ch;
  animation: typing 2s steps(50), blink 0.5s step-end infinite alternate;
}

.li-skills {
  border: 3px solid #333;
  width: 22em;
  border-radius: 12px;
  padding: 1em;
  align-items: center;
  text-align: center;
  gap: 0.8em;
  display: flex;
  flex-direction: column;
  color: #F5F5F5;
  font-weight: 700;
  font-size: 1em;
  font-family: "Viga";
  transition: all 0.6s ease;
  background-color: #1A1A1A;
}

.li-skills:hover {
  transform: scale(1.1);
  border-color: #1E3A8A;
}

.icon-card {
  width: 90px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 9ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#projects-section img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

